@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffd89b;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b);
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 39, 41);
    height: 40px; 
}
.listitems{
    display: flex;
    list-style: none;
}
.listitems li{
    margin-left: 10px;
    padding: 10px;
    color: white;
    margin-left: 20px;
}
.nav{
    padding: 5px;
    margin-right: 10px;
    font-size: 3vh;
    color: yellow;
}
#tag1{
    color: yellow;
}
.span{
    color: rgb(236, 11, 11);
    font-weight: 600;
}
.navbar{
    margin-right: 4rem;
}
.navbar ul li a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
.text{
    size-adjust: auto;
}
.container1{
    height: 615px;
    margin-top: 174px;
    margin-left: 231px;
    display: flex;
}
.info{
    font-size: 38px;
    margin-left: 265px;
    margin-top: 122px;
    text-align: end;
}
#name{
    background-color: #ffd89b;
    color: #19547b;
    border: 5px solid black;
    border-radius: 100%;
    overflow: hidden;
}
#nick{
    text-decoration: underline;
    text-decoration-style: dashed;
}
#about{
    border: 5px solid balck;
}
.abcd{
    margin-top: 20px;
    display: flex;
    color: white;
    font-size: 25px;
    text-align: justify;
}
#underline{
    text-decoration: underline;
    text-decoration-style: double;
    color: black;
}
.box1{
    background-image: url(school.jpg);
    border: 4px solid black;
    height: 300px;    
    padding: 20px;
    margin: 10px;
    width: 482px;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-align: center;
    color: black;
    border-radius: 10%;
}
.box2{
    background-image: url(nit.jpg);
    border: 4px solid black;
    height: 300px;    
    padding: 20px;
    margin: 10px;
    width: 482px;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: black;
    border-radius: 10%;
}
.box3{
    border: 4px solid black;
    height: 300px;    
    padding: 20px;
    margin: 10px;
    width: 482px;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: black;
    border-radius: 10%;
}
h1{
    text-align: center;
}
h2{
    font-size: 50px;
}
#Qualification{
    margin-top: 34px;
}
.footer{
    display: inline-block;
    background-color: black;
    color: white;
    height: 200px;
}
.copyright{
    margin: 40px;
    text-align: center;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: bisque;
    padding: 20px;
}
.form{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   align-items: center;
   margin:20px 0px;
}
.input{
padding: 15px;
margin:18px;
width:30%;
border:none;
outline:none;
}
#send{
padding:10px;
   width:10%;
   margin:40px;
   border:none;
   outline:none;
}
.social{
    padding: 10px;
}
@media all and (max-width: 1510px) {
    body{
        /* background: #ffd89b; */
        background: linear-gradient(#19547b, #ffd89b);
    }
    .abcd{
        display: block;
    }
    .row{
        margin-left: 23%;
    }
    .row h1{
        margin-left: -25%;
    }
    .abcd p{
        text-align: center;
    }
    .container1{
        margin-left: 0%;
    }
    .info{
        margin-left: 6%;
    }
}
